<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Regras ConexoSociologico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='regras/style.css') }}">
    <link rel="icon" type="image/png" href="../static/imagens/image.png">

</head>
<body>

<div class="head">
    <h1>## 🎲 Regras do Jogo - Educação Digital e Tecnologia 🎲  </h1>

</div>

<div class="container">
    <a href="{{url_for('index')}}" id="botaoRegras"><button><h2 id='voltar'>Voltar</h2></button></a>
    <h2>Este jogo foi criado especialmente para o Seminário de Sociologia do IFRN - Campus Caicó, explorando o tema Educação Digital e Tecnologia. Prepare-se para um desafio de raciocínio e estratégia!  </h2>

<h3>### 🔹 Objetivo do Jogo  </h3>
<p>Cada grupo deve formar 4 conjuntos de termos, agrupando-os de acordo com um tema em comum. O primeiro grupo a completar corretamente os 4 conjuntos será o grande vencedor!  </p>

<h3>### 🔹 Como Jogar? </h3> 
<p>1. Todos os termos do jogo estarão disponíveis desde o início. <br>  
    2. Os grupos devem analisar e organizar os termos em 4 conjuntos temáticos, cada um com 5 palavras.  <br>
    3. Assim que um grupo formar corretamente todos os conjuntos, o jogo termina. </p> 

<h3>### 🔹 Pontuação  </h3>
<p>
    - O primeiro grupo a completar os 4 conjuntos corretamente recebe a maior pontuação.  <br>
- Os demais grupos também pontuam de acordo com a ordem de conclusão. <br>  

<h3>### 🔹 Dicas e Penalidades</h3>  
- Se precisar de ajuda, o grupo pode solicitar dicas sobre os temas. <br>  
- Atenção! Cada dica solicitada resulta em um decréscimo de pontos.  
</p>

<h2>✨ Boa sorte e que vença o melhor time! 🚀</h2>

</div>
<div class="head">
    <p style="font-family: 'Lobster';">IFRN Campus Caicó</p> 
</div>
</body>
</html>
