<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ConexoSociologico</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index/style.css') }}">
    <link rel="icon" type="image/png" href="../static/imagens/py.png">
    
    <style>
        .color-button {
            border: 2px solid;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
    <style>
        .color-button {
            border: 2px solid white ;
            padding: 10px 20px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="head">
        <h1 id="title">Conexo Sociológico</h1>   
        <img src="../static/imagens/image.png" alt="">
    </div>
    <div class="head" id="seg">
        
        <h4>Será você mestre, em prestar atenção nos seminários de sociologia?</h4>
        
    </div>
    <form action="" method="post">
        <input type="text" value="verde" name="cor">
        
    </form>
   
  <div class="conteudo">
    <div class="container">
        <div class="linha">
            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha1" >
                
                <button  class="color-button"  style="background-color: {{cor_1}};">Acessibilidade</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha2" >
                <button  class="color-button"  style="background-color: {{cor_2}};">Personalização</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha1" >
                <button  class="color-button"  style="background-color: {{cor_1}};">Acessibilidade
                </button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha3" >
                <button  class="color-button"  style="background-color: {{cor_3}};">Adaptação</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha4" >
                <button  class="color-button"  style="background-color: {{cor_4}};">Inovação</button>
            </form>

        </div>


        <div class="linha">
            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha3" >
                <button  class="color-button"  style="background-color: {{cor_3}};">Adaptação</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha3" >
                <button  class="color-button"  style="background-color: {{cor_3}};">Adaptação</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha1" >
                <button  class="color-button"  style="background-color: {{cor_1}};">Acessibilidade</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha2" >
                <button  class="color-button"  style="background-color: {{cor_2}};">Personalização</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha4" >
                <button  class="color-button"  style="background-color: {{cor_4}};">Inovação</button>
            </form>

        </div>

        <div class="linha">
            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha4" >
                <button  class="color-button"  style="background-color: {{cor_4}};">Inovação</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha2" >
                <button  class="color-button"  style="background-color: {{cor_2}};">Personalização</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha2" >
                <button  class="color-button"  style="background-color: {{cor_2}};">Personalização</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha1" >
                <button  class="color-button"  style="background-color: {{cor_1}};">Acessibilidade</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha5" >
                <button  class="color-button"  style="background-color: {{cor_5}};">Inclusão Digital </button>
            </form>

        </div>

        <div class="linha">
            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha3" >
                <button  class="color-button"  style="background-color: {{cor_3}};">Adaptação</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha4" >
                <button  class="color-button"  style="background-color: {{cor_4}};">Inovação</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha5" >
                <button  class="color-button"  style="background-color: {{cor_5}};">Inclusão Digital </button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha2" >
                <button  class="color-button"  style="background-color: {{cor_2}};">Personalização</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha5" >
                <button  class="color-button"  style="background-color: {{cor_5}};">Inclusão Digital </button>
            </form>

        </div>


        <div class="linha">
            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha5" >
                <button  class="color-button"  style="background-color: {{cor_5}};">Inclusão Digital </button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha5" >
                <button  class="color-button"  style="background-color: {{cor_5}};">Inclusão Digital </button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha1" >
                <button  class="color-button"  style="background-color: {{cor_1}};">Acessibilidade</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha3" >
                <button  class="color-button"  style="background-color: {{cor_3}};">Adaptação</button>
            </form>

            <form action="{{url_for('index')}}" method="post">
                <input type="text" name="palavra" value="linha4" >
                <button  class="color-button"  style="background-color: {{cor_4}};">Inovação</button>
            </form>

        </div>
    
    </div>
    <div class="status">
        <h1>Status:</h1>
        {{ texto|safe }}
        <br>
        <h3> Acertos : {{acertos}}/5</h3>
        <div class="botaoRegras">
            <form action="{{url_for('regras')}}" method="post" id="botaoRegras">
           
                <button class="btn"><h3>Regras do jogo</h3></button>
            </form>
            <form action="{{url_for('reinicia')}}" id="botaoRegras">
            
               
                <button class="btn"><h3>Reiniciar</h3></button>
                
            </form> 
        </div>
    </div>
  </div>
 
  <div class="head">
    <p style="font-family: 'Lobster';">IFRN Campus Caicó</p> 
   
</div>
</body>

</html>
